/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Mobile-first styles */
body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #050505;
}

button, button:focus {
    border-radius: 100px;
    background-color: #050505;
    color: #ffffff;
    padding: 5px 10px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #7743DB;
}

input, input:focus {
    background-color: #EAEAEA;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.video-audio-disable {
    background-color: #eaeaea;
    color: #ffffff;
}

.video-audio-disable:focus {
    background-color: #eaeaea;
    color: #ffffff;
}

.video-audio-disable:hover {
    cursor: pointer;
    background-color: #7743DB;
}

.main-content {
    margin-top: 20px;
}

.chat-image-section {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chat-image-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}

.chat-section-hidden {
    visibility: hidden;
}

.text2image-section-hidden {
    visibility: hidden;
}

.msg-box {
    width: 100%;
    height: 30vh;
    outline: none;
    border-radius: 10px;
    border: 1px solid #555555;
    overflow: auto;
    resize: none;
    padding: 10px;
}

.msg-input {
    /*margin-top: 15px;*/
    width: 80%;
    height: fit-content;
}

.msg-button {
    margin: 0px 0px 0px 10px;
}

.msg-div {
    margin-top: 10px;
}

.display-image {
    width: 100%;
    border: 1px solid #555555;
    border-radius: 10px;
}

.invalid-text {
    color: red;
}

.invalid-text-hidden {
    visibility: hidden;
}

.remote-video-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: 60vh;
    overflow: auto;
    border-radius: 10px;
    background-color: #eaeaea;
    margin-top: 20px;
}

.local-video {
    width: 360px;
    height: 250px;
    border-radius: 10px;
    background: #050505;
    margin-right: 20px;
}

.remote-video {
    width: 100%;
    height: 100%;
}

.remote-video-container {
    position: relative;
    height: 360px;
    margin: 10px
}

.remote-video-text {
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    font-size: 20px;
    color: #ffffff;
    background-color: #050505;
    line-height: 2rem;
    padding: 0px 10px;
}

.self-control-content {
    display: flex;
    flex-direction: row;
}

.room-number-text {
    font-size: 26px;
    font-weight: 100;
}

.logo-text {
    font-size: 32px;
    font-weight: 500;
    margin-left: 10px;
}

.chat-image-title-text {
    margin-left: 10px;
}

.volume-control-bar {
    height: 10px;
    padding: 0px;
    outline: none;
}

.volume-control-bar:focus {
    height: 10px;
    outline: none;
    padding: 0px;
}

.volume-control-bar:hover {
    cursor: pointer;
}

.media-control-button {
    width: 3rem;
}


/* Responsive styles */
@media (min-width: 480px) {
    .text {
        font-size: 16px;
        max-width: 480px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

@media (min-width: 1660px) {
    .container {
        max-width: 1660px;
    }
}

@media (min-width: 2000px) {
    .container {
        max-width: 2000px;
    }
}
